################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DaemonWithClientCredentialsFlowExample/.vs
/DaemonWithClientCredentialsFlowExample/DaemonWithClientCredentialsFlowExample/obj
/DeamonWithROPCFlowExample/.vs
/DeamonWithROPCFlowExample/DeamonWithROPCFlowExample/obj
